body {
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;           
    background-image: url(./images/green-image.jpg);
    background-size: cover;
}

.game-board{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    gap: 50px;
    margin-top: 20px;
}

#start-button{
    padding: 10px;
    font-family: inherit;
    margin: 10px;
}

#game-time{
    padding: 8px;
}

.mole-hole {
    width: 100px;
    height: 100px;
    border-radius:50%;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    position: relative;
    overflow: hidden; 
    box-shadow: 8px 17px 15px -4px rgba(0,0,0,0.1);}

.mole {
    width: 100%; /* Adjust as necessary to fit the hole */
    position: absolute;
    bottom: -100%; /* Start hidden */
    cursor: pointer; /* Change cursor to indicate clickable */
    /* No longer need background-color, border-radius */
    transition: bottom 0.3s; /* Optional, for smooth appearance */
    right: 1px;
}

.mole.up {
    bottom: 0px; /* Appear */
}


@media (max-width: 480px) {
    .mole-hole {
        width: 50px; /* Even smaller for phones */
        height: 50px;
        margin: 5px; /* Reduce spacing */
    }

    .game-board {
        max-width: 300px; /* Constrain game board width */
        margin: 0 auto; /* Center game board */
    }

    h1, p {
        font-size: 16px; /* Smaller text for smaller screens */
    }
}
